#root {
  text-align: center;
}

.resume-container {
  width: 50%;
  background-color: white;
}

.container {
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding: 1rem;
  background-color: rgba(14,55,78,.07);
}




.input-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  .resume-container, .input-container{
    width: 100%;
  }

}