#root {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  border: 2px solid red;
  width: 100vw;
  height: 100vh;
}

.resume-container {
  border: 2px black solid;
  width: 50%;
}

.input-container {
  border: blueviolet 3px solid;
  width: 30%;
}
