.general-info-resume, .general-info-input {
    display: flex;
    flex-direction: column;
}

.general-info-input {
    padding: 0 0.5rem 2rem 0.5rem;
    background-color: white;
    border-radius: 12px;
}

.general-info-resume {
    background-color: #0e374e;
    color: azure;
}

.general-info-resume > h2 {
    margin: 0;
    margin-top: 1rem;
    font-size: 40px;
}

.general-info-resume > div > p {
    margin-left: 14px;
    font-size: 0.8rem;
}


.general-info-input > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-info-input > div > label {
    display: block;
    align-self: start;
    margin-left: 16px;
    font-size: 0.9rem;
    font-weight: bold;
}

.general-info-input > div > input {
    width: 90%;
    border: 12px solid transparent;
    border-radius: 12px;
   background-color: rgba(14,55,78,.07);;
}

